* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

.main-header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bannertitle {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 700px;
}

.bannerPragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px;
    width: 600px;
    padding: 30px 0px 30px 0px;
}

.btn {
    display: flex;
    padding: 20px 40px;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    background: #E55473;
    color: white;
}

.about-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 200px;
    padding-bottom: 25px;
}

.about-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.image-container {
    display: flex;
    margin: 50px 240px 0px 240px;
    align-items: center;
    justify-content: space-around;
}

.image-info {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    padding: 80px 65px 0px 65px;
}

.image-infom {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    padding: 80px 50px 65px 50px;
}

.image-infoma {
    background: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
    align-items: center;
    padding: 50px 65px 0px 65px;
}

.flower-container {
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 30px 220px 0px 220px;
}

.icons-container {
    max-width: 1500px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 150px auto;
}

.section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-top: 30px;
}

.hotdeals {
    display: flex;
    width: 2013px;
    height: 620px;
    padding: auto;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.containdeal {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 0px 40px 0px;
}

.paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 20px 20px 0px 20px;
}

.btns {
    display: flex;
    padding: 20px 40px;
    border: none;
    font-size: 22px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    margin: 30px 250px 0px;
}
.social {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 150px;}
.socialinformation {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    padding-top: 30px;}
.pictures{
    display: flex;
    padding-top:35px;
    justify-content: space-around;
    width: 1500px;
    height: 400px;
    margin: auto;}
.suscribtion{
    width: 1440px;
height: 449px;
flex-shrink: 0;
border-radius: 8px;
background-image: url();

background-repeat: no-repeat;
}